@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap');
html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Naskh Arabic', serif;
  direction: rtl;
  text-align: right;
  margin: 0;
}

section{
  padding-top: 5rem;
}

nav{
  background-color: #11111180;
  backdrop-filter: blur(7px);
  position: sticky;
  bottom: 0;
  top: 0;
  z-index: 1;
}

nav ul{
  margin-top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #33333300;
}

nav ul li{
  display: inline;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

button{
  font-size: 20px;
  color: #333;
  position: relative;
  left: 0;
}

#intro{
  text-align: center;
  padding-top: 1rem;
}



li{
  list-style: none;
  padding-bottom: 10px;
  color:white;
}

ul{
  padding: 0.5rem;
  background-color: #333;
  border-radius: 0.5rem;
  margin: 0.5rem;
}
/* ///////////////////////////// */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 810px) {
  .column {
    flex: 45%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* ////////////////////////////// */
.logo{
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 49%;
  height: auto;
}

h1, h2, h3, p{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#contact ul{
  background-color: #fff; 
  text-decoration: none;
  color: black;
}

#contact ul li {
  color: black;
  font-size: 18px;
}

h1{
  color: black;
  font-size: 35px;
}

p, li{
  font-size: large;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 25% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 1.5rem;
  width: 11rem; /* Could be more or less, depending on screen size */
}

.modal-content ul li{
  display: inline;
}

.modal-content ul li a{
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  font-size: medium;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: none;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 750px){
  .logo{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 25%;
    height: auto;
  }
}
